;; edn spec https://github.com/edn-format/edn

{
 :simlayers {:space-mode {:key :spacebar}}
 :simlayer-threshold 2000

 :main [
        {:des "Caps Lock: tap for Escape, hold for Control." :rules [[:##caps_lock :left_control nil {:alone :escape}]]},
        {:des "Swap colon and semi colon in Colemak." :rules [[:!Sp :p] [:p :!Sp]]},
        {:des "Space symbols layer" :rules [[:q :!S1 :space-mode],
                                          [:w :!S2 :space-mode],
                                          [:e :!S3 :space-mode],
                                          [:r :!S4 :space-mode],
                                          [:t :!S5 :space-mode],
                                          [:y :equal_sign :space-mode],
                                          [:u :7 :space-mode],
                                          [:i :8 :space-mode],
                                          [:o :9 :space-mode],
                                          [:p :!Sequal_sign :space-mode],

                                          [:a :backslash :space-mode],
                                          [:s :!Sbackslash :space-mode],
                                          [:d :!Sopen_bracket :space-mode],
                                          [:f :!S9 :space-mode],
                                          [:g :open_bracket :space-mode],
                                          [:h :!S8 :space-mode],
                                          [:j :4 :space-mode],
                                          [:k :5 :space-mode],
                                          [:l :6 :space-mode],
                                          [:semicolon :hyphen :space-mode],
                                          [:quote :!Shyphen :space-mode],
                                          ; todo: find a use for the backslash
                                          [:backslash :backslash :space-mode],

                                          ; this part is only valid for ISO keyboards
                                          ; and will need to be shifted to the right for ANSI
                                          [:grave_accent_and_tilde :!S6 :space-mode],
                                          [:z :!S7 :space-mode],
                                          [:x :!Sclose_bracket :space-mode],
                                          [:c :!S0 :space-mode],
                                          [:v :close_bracket :space-mode],
                                          [:b :backslash :space-mode],
                                          [:n :0 :space-mode],
                                          [:m :1 :space-mode],
                                          [:comma :2 :space-mode],
                                          [:period :3 :space-mode],
                                          ; consider changing this to something more useful?
                                          [:slash :slash :space-mode],
                                          ]}
]}
