{{ $email := promptStringOnce . "email" "What is your email address?" -}}
{{ $contextChoices := list "personal" "pleo" "server" -}}
{{ $context := promptChoiceOnce . "context" "What is this machine's purpose?" $contextChoices -}}
{{ $canGame := promptBoolOnce . "canGame" "Do you want to install gaming apps on this machine?" (eq $context "personal") -}}
{{ $canChat := promptBoolOnce . "canChat" "Do you want to install chat apps on this machine?" (eq $context "personal") -}}
{{ $hostname := promptStringOnce . "hostname" "What is the machine's hostname? (for nix)" -}}

[data]
  email = {{ $email | quote }}
  context = {{ $context | quote }}
  canGame = {{ $canGame }}
  canChat = {{ $canChat }}
  hostname = {{ $hostname | quote }}

{{ if eq .chezmoi.os "linux" -}}

[scriptEnv]
  SUDO_ASKPASS = "{{ .chezmoi.homeDir }}/.nix-profile/bin/ssh-askpass-fullscreen"

{{end -}}

# use vs-code for merging diffs
[merge]
command = "bash"
args = [
    "-c",
    """cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}""",
]
