{{ $email := promptString "email" -}}

[data]
    email = {{ $email | quote }}

{{- if ne .chezmoi.os "linux" }}

[scriptEnv]
  SUDO_ASKPASS = "{{ .chezmoi.homeDir }}/.nix-profile/bin/ssh-askpass-fullscreen"

{{- end }}
