tap "homebrew/bundle"

# essentials
brew "chezmoi"
brew "coreutils"
brew "wget"
brew "neovim"
brew "zoxide"
brew "bat" # better cat
brew "htop"
brew "ripgrep"
brew "fish"
brew "fisher"
brew "starship"
brew "fzf"
brew "fd"
brew "gls"
brew "editorconfig"
brew "shfmt"
brew "shellcheck"
brew "zellij"
brew "broot"
brew "yazi"
brew "luarocks" # neovim dependency?
brew "the_silver_searcher"
brew "font-monaspace"

# dev
brew "git"
brew "lazygit"
brew "direnv"
brew "helix"
brew gh

{{- if eq .chezmoi.os "darwin" }}
brew "mas"

# ******** casks
brew "yqrashawn/goku/goku"

# essentials
cask "1password-cli"
cask "1password"
mas "1Password for Safari", id: 1333542190
cask "kitty"
cask "raindropio"
cask "brave-browser"
cask "arc"
cask "monitorcontrol"
cask "devutils"
cask "karabiner-elements"

cask "tailscale"
cask "dropbox"

# dev
cask "sublime-text"
cask "sublime-merge"
cask "visual-studio-code"
tap "railwaycat/emacsmacport"
cask "emacs-mac", args: ["with-unlimited-select", "with-native-compilation", "with-imagemagick", "with-mac-metal", "with-glib", "with-dbus"]

{{ if eq $context "pleo" }}
cask "intellij-idea"
{{ end -}}

{{- if $canGame }}

# gaming
cask "discord"
cask "steam"
cask "battle-net"

{{- end }} # gaming section

{{- if $canChat }}

# comms and chats apps
cask "telegram"
cask "slack"
cask "signal"
cask "whatsapp"

{{- end }} # chat apps

{{- end }} # darwin section
