tap "homebrew/bundle"

# essentials
brew "chezmoi"
brew "coreutils"
brew "wget"
brew "neovim"
brew "zoxide"
brew "bat" # better cat
brew "htop"
brew "ripgrep"
brew "fish"
brew "fisher"
brew "starship"
brew "fzf"
brew "fd"
brew "editorconfig"
brew "shfmt"
brew "shellcheck"
brew "zellij"
brew "broot"
brew "yazi"
brew "luarocks" # neovim dependency?
brew "the_silver_searcher"

# dev
brew "git"
brew "lazygit"
brew "direnv"
brew "helix"
brew "gh"

{{- if eq .chezmoi.os "darwin" }}
# ******** casks
brew "yqrashawn/goku/goku"

# essentials
cask "1password-cli"
cask "1password"
cask "kitty"
cask "alacritty"
cask "raindropio"
cask "brave-browser"
cask "arc"
cask "qutebrowser"
cask "monitorcontrol"
cask "devutils"
cask "karabiner-elements"
cask "font-monaspace"
cask "deskpad"

cask "tailscale"
cask "dropbox"

# dev
cask "sublime-text"
cask "sublime-merge"
cask "visual-studio-code"
tap "d12frosted/emacs-plus"
brew "emacs-plus", args: ["with-imagemagick", "with-ctags", "with-mailutils", "with-xwidgets"]

{{ if eq .context "pleo" }}
cask "intellij-idea"
{{ end -}}

{{- if .canGame -}}

# gaming
cask "discord"
cask "steam"
cask "battle-net"

{{- end }}

{{- if .canChat }}

# comms and chats apps
cask "telegram"
cask "slack"
cask "signal"
cask "whatsapp"

{{- end }}

{{- end }}
