[user]
  name = Alpha Shuro
  email = "{{ .email }}"
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPzIgU1+V2cuZlgYwVVlvDmbv3R5i+hU1fLZOow4EbW8

[gpg]
  format = "ssh"

[gpg "ssh"]
  program = "{{ lookPath "op-ssh-sign" }}"

[commit]
  gpgsign = true

[init]
  defaultBranch = main

[core]
  autocrlf = input

[github]
  user = alphashuro

[pull]
  rebase = true
