[user]
  name = Alpha Shuro
  email = "{{ .email }}"

  {{- if eq .context "personal" }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPzIgU1+V2cuZlgYwVVlvDmbv3R5i+hU1fLZOow4EbW8

  {{- else if eq .context "pleo" -}}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA5NJ5V3HZTt2nw/62avTrya49HkKDZGXO9nrmrmckgg

  {{- end }}

[gpg]
  format = "ssh"

[gpg "ssh"]
  {{ if eq .chezmoi.os "linux" }}
  program = "{{ lookPath "op-ssh-sign" }}"
  {{- end }}
  {{ if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{- end }}

[commit]
  gpgsign = true

[init]
  defaultBranch = main

[core]
  autocrlf = input

[github]
  user = alphashuro

[pull]
  rebase = true

[rebase]
  autostash = true

[credential]
  helper = manager

[push]
  autoSetupRemote = true
  default = current
