#!{{ lookPath "bash" }}

type home-manager >/dev/null 2>&1 && exit

nix-channel --add https://github.com/nix-community/home-manager/archive/master.tar.gz home-manager
nix-channel --update
nix-shell '<home-manager>' -A install

nix run home-manager -- switch
